%h1 Listing stories
%table
  %tr
    %th
      Text
    %th
      User
    %th
      Timestamps
  - for story in @stories
    %tr
      %td
        =h story.text
      %td
        =h story.user_id
      %td
        #submitted_at= h story.created_at
        #approved_at= h story.approved_at
        #rejected_at= h story.rejected_at
        #published_at= h story.published_at
        #marked_as_spam_at= h story.marked_as_spam_at
      %td
        = link_to 'Show', story
      %td
        = link_to 'Edit', edit_story_path(story)
      %td
        = link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New story', new_story_path
